body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.calculator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px; 
  padding: 20px;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button, .operator-button, .clear-button, .equal-button {
  width: 60px; 
  padding: 10px;
  margin: 5px;
  text-align: center;
  font-size: 18px;
  /* border: 1px solid black; */
  border-radius: 5px;
}

.display {
  margin-bottom: 10px;
}

.result{
  margin-bottom: 10px;
  color:grey ;
}